#app {
  position: relative;
  width: 100%;
  min-width: 980px;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}

.layout {
  width: 100%;
  height: 100%;
}

.main-content {
  float: left;
  padding-top: 80px;
}