#app {
  height: 100%;
  background: url(../../../assets/images/blur-bg.jpg);
}

.ant-layout,
.ant-layout-content,
.ant-menu-dark, 
.ant-menu-inline.ant-menu-sub  {
  background: transparent!important;
}

.ant-layout {
  height: 100%;
}

.main-content {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px; 
}

.ant-col-12 {
  height: 100%;
}

.ant-row {
  height: 300px!important;
  margin-top: 10px;
}